.header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 94px 24px 93px;
    display: grid;
    grid-template-columns: 2.5fr 1fr 2.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 2;
    grid-row: 1;
    gap: 32.5px;
}

.header__links-list-item {
    list-style: circle outside;
    text-underline-position: under;
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__menu-link {
    color: #000;
    font-weight: 400;
}

.header__logo {
    display: block;
    max-width: 135px;
    max-height: 105px;
    justify-self: center;
}

.header__address {
    justify-self: right;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    font-style: normal;
    max-width: 240px;
    text-underline-position: under;
}

.cover {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 165px 24px 50px;
    background-image: url(../images/cover-pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.cover__title {
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 30px;
    margin-bottom: 136px;
    z-index: 10;
}


.aligned-text_left {
    text-align: left;
    line-height: 115%;
}

.aligned-text_center {
    text-align: center;
    line-height: 100%;
    margin-left: 60px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100%;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
}

.cover__description-text {
    color:#fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    background: none;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.lots {
    max-width: 1100px;
    margin: 0 auto;
    padding: 180px 24px 0;
}

.lots__heading {
    margin-left: 26px;
    margin-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 600px;
}

.card {
    position: relative;
    padding: 50px 40px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/lots_photo-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/lots_photo-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.card__title {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}

.card__text {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}

.lots__look-more-link {
    margin-left: 26px;
    font-weight: 400;
    font-size: 20px;
    text-underline-position: under;
}

.about {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    padding: 179px 24px 0 75px;
}

.about__logo {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color:#000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__logo-img {
    display: block;
    max-width: 148px;
    max-height: 114px;
    z-index: 1;
}

.about__column {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 101px 0 0 54px;
    gap: 100px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 116%;
}

.footer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 180px 24px 90px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.footer__menu-list {
    list-style: none;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    text-underline-position: under;
}

.footer__menu-link_active .footer__menu-link {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 240px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    max-height: 48px;
}